### TeX ###
## Core latex/pdflatex auxiliary files:
*.aux
*.fdb_latexmk
*.xdv
*.lof
*.log
*.lot
*.fls
*.out
*.pdf
*.synctex.gz
*.toc

## Intermediate documents:
*.dvi
*-converted-to.*

### Editor ###
## Vim & Emacs temp files:
.*sw[op]
*~

### Mac OS X ###
## Mac OS X metadata files:
*.DS_Store

.env

## Resume folder content
resume/

## Output folder
output/


## IDE & Environment
.vscode/*
GETKAN-CV.code-workspace
.github/

## Logs & Temporary files
log/
logs/
tmp/

## Python
**/__pycache__
*.py[cod]
*$py.class

